@import "_nullstyle";
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*  media
@media (max-width: 1000px) {}
@media (min-width: 1000px) {}
    */
body {
  overflow-x: hidden;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  position: relative;
}
header {
  background-color: #fff;
}
.header__container {
  max-width: 1083px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 148px;
  @media (max-width: 710px) {
    flex-wrap: wrap;
  }
  @media (max-width: 350px) {
    padding: 0;
  }
}
.header__column {
  display: flex;
  flex: 1 1 auto;
}
.header__column_1 {
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 23.5%;
  width: 23.4%;
  min-width: 240px;
  @media (max-width: 710px) {
    flex-direction: row;
    flex: 0 0 100%;
  }
  nav {
    display: block;
    @media (max-width: 710px) {
      padding-top: 20px;
    }
  }
}
.header__logo {
  img {
    padding: 20px 0;
    width: 250px;
    @media (max-width: 440px) {
      width: 200px;
    }
  }
  @media (max-width: 710px) {
    padding: 0 10px 0 0;
  }
  
}
.header__catalog {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  height: 47px;
  position: relative;
  max-width: 250px;
  &:hover .header__catalog__list {
    display: block;
  }
  @media (max-width: 710px) {
    padding: 0 0 0 50px;
  }
  @media (max-width: 550px) {
    padding: 40px 0 0 10px;
  }
}
.header__catalog__head {
  display: block;
  color: #ffffff;
  padding: 16.5px 15px 16px 14px;
  background-color: #e78216;
  min-width: 100%;
}
.header__catalog__list {
  display: none;
  min-width: 100%;
  position: absolute;
  top: 90%;
  left: 0;
  @media (max-width: 710px) {
    margin-top: 20px;
  }
  @media (max-width: 500px) {
    left: unset;
    right: 0;
  }
  li {
    position: relative;
    background-color: #e78216;
    &:hover .header__catalog__sub-list {
      display: block;
    }
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #ffffff;
      min-height: 50px;
      padding: 0 10px 0 15px;
      white-space: nowrap;
      &:hover {
        color: #000;
        background-color: #fff;
        font-size: 0.90em;
        padding: 0 16px 0 19px;
        .arrow {
          background: url(../src/slider/catalog__arrow.png)0 0/80% auto no-repeat;
        }
      }
      &:hover, &:active {
        .arrow {
          transition: all 400ms ease 0ms;
          transform: rotate(90deg);
        }
      }
    }
  }
  >li {
    background-color:#ff9c00;
  }
}
.header__li__1 {
  font-size: 14.5px;
  line-height: 16px;
  font-weight: 500;
  &:hover {
    transform: scaleX(1.05);
    font-size: 0.90em;
  }
}
.arrow {
  display: inline-block;
  width: 10px;
  height: 16px;
  opacity: 0.4;
  margin-top: 5px;
  background: url(../src/slider/menu_arrow_right.png)0 0/90% auto no-repeat;
}

.header__catalog__sub-list {
  display: none;
  min-width: 242px;
  position: absolute;
  left: 100%;
  top: 0;
  li {
    min-width: 100%;
    .header__li__2 {
      padding-left: 27px;
      font-size: 14.5px;
      &:hover {
        padding-left: 27px;
      }
    }
    &:last-child {
      background-color: #fff;
      a {
        padding: 19.5px 15px;
        color: #000;
        font-size: 1em;
        padding-left: 52px;
        background: url(../src/next.png)78% center no-repeat;
        &:hover {
          padding-left: 52px;
          font-size: 1.05em;
        }
      }
    }
  }
}
// .header__li__2 {}
.header__column_2 {
  order: 3;
  flex-direction: column;
  justify-content: space-between;
}
.header__contacts {
  display: flex;
  justify-content: space-between;
  @media (max-width: 960px) {
    flex-direction: column;
  }
}
.header__contacts__classic {
  display: flex;
  @media (max-width: 710px) {
    justify-content: space-between;
  }
}
.header__contacts__phone {
  font-size: 13.5px;
  line-height: 20px;
  font-weight: 700;
  color: #010101;
  padding: 18px 0 0 35px;
  margin: 0 0 0 25px;
  white-space: nowrap;
  background: url(../src/phone.png)0 20px no-repeat;
  @media (max-width: 440px) {
    margin: 0;
  }
  @media (max-width: 350px) {
    padding: 18px 0 0 29px;
    background: url(../src/phone.png)5px 20px no-repeat;
  }
}
.header__contacts__mail {
  font-size: 13.5px;
  line-height: 20px;
  font-weight: 700;
  color: #010101;
  padding: 18px 0 0 35px;
  background: url(../src/mail.png)40px 20px no-repeat;
  @media (max-width: 440px) {
    padding: 18px 0 0 5px;
    background: url(../src/mail.png)10px 20px no-repeat;
  }
  @media (max-width: 350px) {
    padding: 18px 0 0 0;
    background: url(../src/mail.png)5px 20px no-repeat;
  }
  p{
    margin: 0 0 14px 40px;
  }
  a {
    background-color: #161615;
    font-size: 13.5px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    padding: 7.5px 27px 7px 28px;
    margin: 0 0 0 5px;
    white-space: nowrap;
  }
}
.header__contacts__social {
  a {
    display: flex;
    align-items: center;
  }
  @media (max-width: 960px) {
    display: flex;
    justify-content: flex-end;
  }
}
.social-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 17px 0;
  @media (max-width: 350px) {
    padding: 0 5px 17px 0;
  }
  a {
    padding: 17px 12px 0 0;
  }
  img {
    width: 27px;
    height: 27px;
  }
}
.header__enter {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  padding: 10px 20px 10px 35px;
  background: url(../src/log_in.png)0 center no-repeat;
  @media (max-width: 650px) {
    margin: 12px 10px;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 8px 12px;
  ul {
    display: flex;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  form {
    flex: 1 1 auto;
    padding: 0 23px 0 19px;
  }
}
.header__menu__nav {
  a {
    font-size: 13.5px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    padding: 0 16px 0 15px;
    border-right: 1px solid rgba(128, 128, 128, 0.432);
    white-space: nowrap;
    &:hover {
      color: #00b5ab;
    }
  }
}
.header__menu__search {
  width: 100%;
  min-width: 150px;
  height: 35px;
  background-color: #fdf9e4;
  border: 1.0px solid #fe9b00;
  margin: 0 0 2px 0;
  background-image: url(../src/search_img.png);
  background-position: 96% center;
  background-repeat: no-repeat;
  padding: 0 0 0 9px;
  color: #fe9b00;
  cursor: pointer;
  @media (max-width: 650px) {
    min-width: 0;
    width: available;
  }
}
.header__column_3 {
  order: 4;
  max-width: 9.5%;
  @media (max-width: 710px) {
    order: 2;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 13%;
    padding-top: 20px;
  }
  @media (max-width: 460px) {
    display: none;
  }
  a {
    display: block;
    text-align: center;
    background-color: #1bcdc3;
    padding: 30px 10px;
    img {
      width: 34px;
      opacity: 0.6;
      // @media (max-width: 500px) {
      //   width: 25px;
      // }
    }
    p {
      opacity: 0.6;
      font-family: Roboto;
      font-size: 14px;
      line-height: 15px;
      font-weight: 400;
      color: #ffffff;
      @media (max-width: 500px) {
        display: none;
      }
    }
    @media (max-width: 710px) {
      padding: 10px 10px;
    }
  }
}
.flex__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
// Окончание header
.main__slider__container {
  position: relative;
  z-index: 1;
  max-width: 1083px;
  padding: 0 10px;
  margin: 0 auto;
}
.big__slider {
  min-width: 0;
  margin: 19px 0 0 25%;
  overflow: hidden;
  z-index: 2;
  .slick-track {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  @media (max-width: 1100px) {
    margin: 19px 0 0 20%;
  }
  @media (max-width: 1000px) {
    margin: 19px 0 0 15%;
  }
  @media (max-width: 768px) {
    margin: 0 auto;
    padding-top: 10px;
  }
}
.big__slider .slick-arrow{
    position: absolute;
    top: 43%;
    z-index: 3;
    font-size: 0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    opacity: 0.8;
}
.big__slider .slick-arrow.slick-prev{
  background: url(../src/slider/arrow_slider_left.png)center no-repeat;
  transform: translate(-40%,0);
}
/* Стрелка вправо */
.big__slider .slick-arrow.slick-next{
  right: 10px;
  background: url(../src/slider/arrow_slider_right.png)center/cover no-repeat;
  transform: translate(40%,0);
}

.big__slider-img {
  opacity: 1;
  img {
    width: 100%;
  }
}
.big__slider .slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0,-180%);
}
.big__slider .slick-dots li {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid transparent;
}
.big__slider .slick-dots li button {
  font-size: 0;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  color: #fff;
  transform: translate(90%,10%);
}
.big__slider .slick-dots li.slick-active{
  border: 1px solid #fff;
}
.breaker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  @media (max-width: 500px) {
    flex-direction: column;
    padding: 10px 0 30px 30px;
  }
  div {
    flex: 0 0 33.33%;
    white-space: nowrap;
    padding-right: 30px;
  }
}
.breaker__name {
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #7c7373;
  text-align: center;
}
.breaker__goto {
  display: flex;
  justify-content: center;
  a {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: #ff9c00;
    text-decoration: underline;
    padding-right: 5px;
    cursor: pointer;
    &:hover {
      color: #7c7373;
    }  
    @media (max-width: 500px) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
.hits__slider__container {
  position: relative;
  z-index: 1;
  max-width: 1083px;
  padding: 0 10px 20px 10px;
  margin: 0 auto;
}
// Сладер hits
.hits__slider {
  min-width: 0;
  overflow: hidden;
  z-index: 2;
  .slick-track {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
.hits__slider .slick-arrow{
  position: absolute;
  top: 35%;
  z-index: 3;
  font-size: 0;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  opacity: 0.8;
}
.hits__slider .slick-arrow.slick-prev{
  background: url(../src/slider/slider_2_leftarrow.png)center no-repeat;
  transform: translate(-45%,0);
}
/* Стрелка вправо */
.hits__slider .slick-arrow.slick-next{
  right: 10px;
  background: url(../src/slider/slider_2_rightarrow.png)center/cover no-repeat;
  transform: translate(45%,0);
}


.hits__slider-element {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid #fd9b00;
    box-shadow: 0px 0px 10px 10px rgba(237,237,237,1);
    z-index: 100;
  }
}
.hits__element-img {
  img {
    width: 100%;
  }
}
.hits__element-name {
  max-width: 170px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
  padding: 10px 0;
}
.hits__element-price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0 15px 0;
  width: 100%;
}
.hits__element-price__prev {
  position: relative;
  .red-crossline {
    position: absolute;
    top: 50%;
    left: -10%;
    width: 120%;
    height: 1px;
    opacity: 0.7;
    background-color: red;
  }
}
.hits__element-price__current {
  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}
.hits__element-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: url(../src/buy_bg.png)right top/cover no-repeat;
  border-bottom: 1px solid #ff9c00;
  min-width: 100%;
  div {
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #010101;
    padding-left: 13px;
  }
  &:hover {
    background: url(../src/buy_bg_active.png)right top/cover no-repeat;
  }
}
.hits__element-compare {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 0 0;
  a {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    padding-left: 10px;
  }
}
.hits__element__triangle {
  position: absolute;
  left: 0;
  width: 150px;
  height: 150px;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  transform: translate(-50%,-75%) rotate(-45deg);
  div {
    margin: 75% 30% 0 0;
    text-align: center;
  }
}
.triangle__hit {
  background-color: #fc9a00;
}
.triangle__sale {
  background-color: #ff411c;
  div {
    margin: 82% 30% 0 3%;
  }
}
.triangle__new {
  background-color: #39c05f;
  div {
    margin: 82% 30% 0 3%;
  }
}
.slider_3 {
  padding-bottom: 40px;
}
.signup__container {
  max-width: 1083px;
  padding: 0 10px;
  margin: 0 auto;
}
.signup__form {
  background: url(../src/signup_bg.jpg)0 0/cover no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 9.5%;
  p{
    white-space: nowrap;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fefefe;
    padding-right: 50px;
  }
  @media (max-width: 960px) {
    padding: 20px 3%;
    p {
      font-size: 13px;
      line-height: 14px;
      padding-right: 20px;
    } 
  }
  @media (max-width: 640px) {
    flex-direction: column;
    align-items: stretch;
    p {
      padding-bottom: 10px;
    }
  }
  @media (max-width: 440px) {
    p {
      white-space: normal;
    }
  }
}
.signup__mail {
  flex: 1 1 40%;
  min-height: 32px;
  opacity: 0.6;
  background-color: #66d3cd;
  background-image: url(../src//signup_mail.png);
  background-position: 98% center;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  padding: 0 0 0 9px;
  color:#fefefe;
  cursor: pointer;
  font-size: 14px;
  &::-webkit-input-placeholder {color:#fefefe;opacity: 1;}
  &::-moz-placeholder          {color:#fefefe;opacity: 1;}
  &:-moz-placeholder           {color:#fefefe;opacity: 1;}
  &:-ms-input-placeholder      {color:#fefefe;opacity: 1;}
}
.breaker__guarantee {
  justify-content: center;
  margin-top: 25px;
}
.guarantee__container {
  max-width: 1083px;
  padding: 0 10px;
  margin: 0 auto;
}
.guarantee__flex {
  display: flex;
  justify-content: space-between;
  @media (max-width: 550px) {
    flex-direction: column;
  }
}
.guarantee__item {
  flex: 1 1 25%;
  padding: 1.5% 2% 1.5% 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 15px;
  background-color: #fff;
  box-shadow: 0px 0px 59px 0px rgba(0,0,0,0.1);
  @media (max-width: 550px) {
    flex-direction: row;
    flex: 0 1 50%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 10% 1.5% 10%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    margin: 5px 15px;
  }
}
.guarantee__logo {
    flex: 1 1 30%;
}
.guarantee__text {
  padding-top: 4%;
  line-height: 1.1em;
  @media (max-width: 960px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 12px;
  }
  @media (max-width: 550px) {
    padding-top: 0;
    font-size: 14px;
    flex: 1 1 65%;
    text-align: start;
  }
}
.breaker__useful {
  justify-content: center;
  margin-top: 25px;
}